* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.App {
  min-height: 100vh;
}
.form-group {
  display: flex;
  flex-direction: column;
  width: 100%;
}
ul {
  list-style: none;
}
li {
  position: relative;
}
.del-btn {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 50px;
  transform: translate(-50%, -50%);
}